* {
  margin: 0;
  padding: 0;
}

ol, ul, li {
  list-style: none;
}
.header {
    position: relative;
    display: flex;
    justify-content:flex-end;
    align-items:center;
    background-color:#f5f5f5;
    font-size: 16px;
    color:black;
  }
  .header > ul{
    display: flex;
    justify-content:center;
    align-items: center;
  }
  .header .left-1{
    position: absolute;
    left:0;
  }
  .header > ul >li{
    //  width: 70px; 
    margin-right: 10px;
    display: flex;
    justify-content:center;
    align-items: center;
  }
  .header > ul >li>a{
    color:black;
  }
  .dropbtn {
    background-color:#f5f5f5;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .dropdown-content>ul{
   display:flex;
  }
  .click >a>span:nth-child(1){
   color:orange;
  }
  .click >a>span:nth-child(2){
    transform:rotate(90deg);
   }
  .five>ul>li>p{
  height:80px;
  width:80px;
  margin-bottom: 10px;
  }
  .five>ul>li>p>img{
  display:block;
  height:100%;
  width: 100%;
  }
  .five>ul>li>p>a{
  display:block;
  line-height: 80px;
  }
  .dropdown-content>ul>li:nth-of-type(2n){
   border-right: 1px solid black;
  }
  .dropdown-content>ul>li>p{
  width:100px;
   height: 30px;
   padding-left:16px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display:none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
  }
  .dropdown-content>ul>li>a {
    color: black;
    padding: 0 16px;
    text-decoration: none;
    display: block;
    width:100px;
    height: 20px;
  }
  .dropdown-contentul>ul>li>a:hover {background-color: #f1f1f1}
  .dropdown>.dropbtn:hover {background-color: #f1f1f1}
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown:hover .dropbtn {
    background-color: #f1f1f1;
  }
  .dropdown:hover .dropbtn>span{
    transform:rotate(180deg);
  }
  .header>.right-1>.shopping>a{
    color:orange;
  }
  .header>.right-1>.shopping>a>p{
   margin-right: 5px;
  }
  .header>.right-1>.shopping>a>span{
    color:black;
    margin-left: 5px;
   }
  .box{
  position: relative;;
  width: 100%;
  height: 120px;
  }
  .box>span:nth-of-type(1){
    width: 15px;
    height: 15px;
    border:1px solid black;
    position: absolute;
    right:40px;
    top:0;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .nav{
    height: 150px;
    display:flex;
    align-items: center;
    background-color: white;
  }
  .nav>div:nth-child(1){
    width: 200px;
    height: 100px;
  }
  /* .nav>div:nth-child(3){
   
  } */
  .nav>div:nth-child(3)>form{
    position: relative;
    width: 450px;
    height: 30px;
    border-radius:10px;
    border:2px solid orange;
    margin-bottom: 5px;
    // overflow: hidden;
    >button{
        position: absolute;
        width:76px;
        height:26px;
        border:none;
        background-color: orange;
        border-radius:0 5px 5px 0;
    }
    >input{
      width: 370px;
      height: 26px;
      border:none;
    }
    .down{
      position: absolute;
      top:100%;
      left: -3px;
      width:calc(100% + 6px);
      padding: 20px;
      box-sizing: border-box;
      z-index: 10;
      background-color: white;
      display: none;
       li {
        list-style: none;
        width: 100%;
        height: 30px;
        font-size: 24px;
        line-height: 30px;
        cursor: pointer;
      }
      > li:hover {
        background-color: #ccc;
        color: #fff;
      }
    }
     >.down.active {
      display: block;
    }
  }

 
  .nav>div:nth-child(3)>ul{
    display:flex;
  }
  .nav>div:nth-child(3)>ul>li{
    height: 12px;
    padding: 0 5px;
    
    display:flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
    font-size:12px;
  }
  .nav>div:nth-child(3)>ul>li:nth-last-child(1){
  border-right:none;
  }
  .nav>div:nth-child(3)>ul>li.active{
    color:orange;
  }
  .list{
    position: absolute;
    justify-content: space-between;
    display:flex;
    height: 420px;
    z-index: 2;
  }
  .list>ul:nth-child(1){
    width: 200px;
    height: 100%;
    position: absolute;
    top:-50px;
    left:30px;
  }
  .list>ul>h4{
    width:100%;
    height: 40px;
    background-color:orange;
    display: flex;
    align-items: center;
    color:white;
    padding-left:10px;
    border-radius:10px 10px 0 0;
    margin-bottom:0;
  }
  .list>ul>h4>b{
    width: 10px;
  }
  .list>ul>li{
    height: 30px;
    padding-left:10px;
    display:flex;
    align-items: center;
    background-color:#f1f1f1;
  }
  .list>ul>li:nth-child(2n)>i{
  color:skyblue;
  }
  .list>ul>li:nth-child(2n+1)>i{
    color:red;
    }
  .list>ul>li>span>a{
  padding: 0 3px;
  color:black;
  }
  
  .banner {
    width:100%;
    height:450px;
    position: absolute;;
    overflow: hidden;
    // z-index: 5;
  }
  
  .banner > ul {
    width: 500%;
    display: flex;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .banner > ul > li {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    height: 100%;
  }
  
  .banner > ol {
    width: 200px;
    height:15px;
    position: absolute;
    left: 50%;
    bottom: 110px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transform: translateX(-50%);
    z-index:20;
  }
  
  .banner > ol > li {
    width: 20px;
    height:5px;
    background-color: #fff;
    cursor: pointer;
  }
  
  .banner > ol > li.active {
    background-color: cyan;
  }
  
  .leftRight {
    width: 100%;
    height: 60px;
    position: absolute; 
    z-index: 20;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .leftRight>.left{
    position: absolute;
    left:230px;
  }
  .leftRight>.right{
    position: absolute;
    right:232px;
  }
  .leftRight > div {
    height: 60px;
    width: 40px;
    font-size: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  img {
    width: 100%;
    height: 100%;
    display: block;
  }
  .list>ul:nth-child(2){
    width: 200px;
    height: 500px;
    position: absolute;
    right:-60px;
    top:-50px;
    background-color:white;

  }
  .list>ul:nth-child(2)>h4{
    width: 100%;
    background-color: gray;
    margin-bottom: 5px;
  }
  .list>ul:nth-child(2)>p{
    padding: 0 10px;
    margin-bottom:0px;
    height: 50px;
  }
  .list>ul:nth-child(2)>p>img{
    display:block;
    width: 40px;
    height: 40px;
    margin: 6px 5px;
  }
  .list>ul:nth-child(2)>p>span{
    width: 120px;
    height: 20px;
    position:absolute;
    top:60px;
    left:60px;
  }
  .list>ul:nth-child(2)>p>a{
    width: 120px;
    height: 20px;
    position:absolute;
    top:80px;
    left:60px;
    color:black;
  }
  .list>ul:nth-child(2)>p>a:nth-of-type(2){
    left:100px
  }
  .list>ul:nth-child(2)>p>a:nth-of-type(3){
    left:120px
  } 
  .list>ul:nth-child(2)>p>a:nth-of-type(1):hover{
    color:red;
  }
  .list>ul:nth-child(2)>p>a:nth-of-type(3):hover{
    color:red;
  }
  .list>ul:nth-child(2)>b{
    display: block;
    width: 160px;
    height: 30px;
    background-color: orange;
    margin-left:20px;
    margin-top:10px;
    border-radius:5px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
  }
  .list>ul:nth-child(2)>b:nth-of-type(2){
    background-color:blue;
    color:yellow;

  }
  .list>ul:nth-child(2)>ul{
    display: inline-block;
    height: 300px;
    width: 60px;
    margin-top:10px;
  }
  .list>ul:nth-child(2)>ul>li{
    height:65px;
    width:40px;
    padding:5px 10px;
  }
  .list>ul:nth-child(2)>ul>li>img{
    display: block;
    width: 40px;
    height: 40px;
  }
  .list>ul:nth-child(2)>ul>li>span{
    width: 40px;
    font-size: 12px;
    display:flex;
   justify-content: center;
   
  } 
  .list>ul:nth-child(3){
    width: 810px;
    height: 120px;
    position:absolute;
    bottom:-40px;
    left:230px;
    display:flex;
    background-color:white;
  }
  .list>ul:nth-child(3)>li{
    width: 200px;
    height: 120px;
  }
  .list>ul:nth-child(3)>li{
    width:100%;
    height: 100%;
  }
  .floor{
    position: relative;
    height: 400px;
    border-radius: 20px 20px 0 0;
    padding: 0;
    overflow: hidden;
    margin-top:450px;
    ul{
        width: 100%;
        height:200px;
        display:flex;
        box-sizing: border-box;
        padding:0 20px;
        background-color: red;
        li{
            width: 20%;
            margin-right:10px;
           
        
            img{
                display:block;
                width: 100%;
                height:100px;
                padding: 5px 50px;
                background-color:white;
            }
            a{
                display:flex;
                justify-content: center;
                
            }
            a:nth-of-type(1){
                color:white;
                font-size: 20px;
                margin-top:10px;
            }
            a:nth-of-type(2){
                width:150PX;
                color:red;
                font-size: 20px;
                background-color:white;
                margin:auto;
                border-radius:10px;
            }

        }
      }
  }
  .floor>img{
    display:block;
    margin-top:-22px;
    width: 100%;
    height: 150PX;
    border-radius: 20px 20px 0 0;
  }
 .footer{
  width: 100%;
  height: 150PX;
  background-color: skyblue;
  margin-top:0;
  display:flex;
  justify-content: center;
  align-items: center;
  div{
    width: 200px;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    a{
      color:black;
    }
  }
 }